.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


div.skull_and_text {
    vertical-align: top;
    display: inline-block;
    text-align: center;
;
}
.caption {
    display: block;
}